<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1978475429031886',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.10'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <script>
    function statusChangeCallback(response) {
      if (response.status === "connected") {
        $.ajax({
          url: 'http://67.205.134.136:5000/login',
          method: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({
            'access_token': response.authResponse.accessToken
          }),
          success: function (data) {
            console.log("Sent Token")
            console.log(data)
          },
          error: function (errors) {
            console.log("Send Failed")
            console.log(errors)
          }
        });
      }
    }
    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }
  </script>
  <fb:login-button  scope="public_profile,email" onlogin="checkLoginState();"/>
</body>
</html>
